<div class="dashboard-header">
  <h1>Dashboard</h1>
  <a href="/write">
    <button class="form-button">Create a post!</button>
  </a>
</div>
{{#if posts}}
{{#each posts as |post|}}      
    <!-- BLOG CARD -->
    <div class="card-holder">
      <div class="card-left">
        <div class="title-container">
          <h3 class="title">{{post.title}}</h3>
        </div>
        <div class="date-container">
          <div>{{post.date_created}}</div>
        </div>
      </div>
      <div class="card-right">
        <a href="/view/{{post.id}}" class="dashboard-link">
          <button class="dashboard-button dashboard-view-button">View Post</button>
        </a>
        <a href="/write/{{post.id}}" class="dashboard-link">
          <button class="dashboard-button dashboard-edit-button">Edit Post</button>
        </a>
      </div>
    </div>
{{/each}}
{{/if}}

{{#unless posts}}
<p>You have not written any posts yet. Write your first one with "Create a post!".</p>
{{/unless}}