<h1>Homepage</h1>
{{#each posts}}      
    <!-- BLOG CARD -->
    <a href="/view/{{id}}" class="card-holder-link">
      <div class="card-holder home-card">
        <div class="card-left">
          <div class="title-container">
            <h3 class="title">{{title}}</h3>
          </div>
          <div class="date-container">
            <div>{{date_created}}</div>
          </div>
        </div>
        <div class="card-right homepage-right">
          <h4>{{user.username}}</h4>
        </div>
      </div>
    </a>
{{/each}}