
<div class="container">
  <div class="card login-form" >
    <div class="card-header">
      <h2>Login</h2>
    </div>
<label for="username" class="form-label">Username</label>
<input  id="user-input"type="text" class="form-control">
<label for="inputPassword5" class="form-label">Password</label>
<input id="user-password"type="password" id="inputPassword5" class="form-control" aria-describedby="passwordHelpBlock">
<button class="btn btn-warning">Submit</button>
</div>
</div>

<script src="/js/login.js"></script>




