root {
    --brand-navy: #2f3b69;
    --brand-beige: #e3dedd;
    --brand-teal: #3e829a;
    --brand-teal-light: #3e829a69;
    --brand-soft: #fafaff;
    --brand-gray: #5b4d4d;
    --brand-navy-shadow: #2f3b6982;
    --brand-shadow: 0px 1px 1px var(--brand-navy-shadow);
  }
  
  h1, h2, h3, h4, h5, h6, p, div, button, a {
    color: var(--brand-navy);
    font-family: 'Inter', sans-serif;
  }
  
  h1 {
    font-size: 34px;
    font-weight: 700;
  }
  
  h2 {
    font-size: 32px;
    line-height: 1;
    font-weight: 700;
    margin: 0;
  }
  
  h3 {
    font-size: 28px;
    font-weight: 700;
  }
  
  .title {
    color: var(--brand-navy);
  }
  
  h4 {
    font-weight: 700;
  }
  
  a {
    color: var(--brand-navy);
  }
  
  a:hover {
    color: var(--brand-teal)
  }
  
  div {
    font-weight: 500;
  }
  
  button {
    box-shadow: var(--brand-shadow);
  }