/* header,
.header-contents,
.header-branding,
nav,
main,
.card-holder,
.card-left,
.card-right,
.date-container,
.form-container,
.dashboard-header,
.homepage-right {
  display: flex;
  justify-content: center;
  align-items: center;
}


/* HEADER */
header {
  height: 130px;
  background-color: var(--brand-soft);
  box-shadow: var(--brand-shadow);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.header-contents {
  width: 70%;
  justify-content: space-between;
}

.header-branding {
  gap: 5px;
}

h2 {
  width: 100%;
}

nav {
  justify-content: flex-end;
  gap: 25px;
}

.nav-icon {
  color: var(--brand-navy)
}

.nav-icon:hover {
  color: var(--brand-teal)
}

.nav-icon:active {
  color: var(--brand-teal-light);
} */


/* MAIN */
/* main {
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 150px;
  flex-direction: column;
  align-items: flex-start;

} */

/* .card-holder-link {
  width: 100%;
} */


/* HOMEPAGE AND DASHBOARD CARDS */

.card{
  margin-top: 5vh;
  margin-bottom: 3vh;;
}

.card-link{
  text-decoration: none;
 
}

.card-header{
  background-color: #003566;
  color:whitesmoke;
}

#head-title{
  text-align: center;
}

/* .card-holder {
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 0px;
  width: 100%;
  justify-content: flex-end;
  box-shadow: var(--brand-shadow);
  border: 1px solid var(--brand-navy);
 
} */

/* .card-left, .card-right {
  padding: 0;
  min-height: 185px;
} */

/* .card-left {
  flex-grow: 1;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  border-right: 1px solid var(--brand-navy);
} */

/* .card-left h3 {
  padding-top: 30px;
  padding-bottom: 30px;
} */
/* 
.card-left .date-container div, .card-left h3 {
  padding-left: 20px;
  padding-right: 20px;
} */

/* .card-left .date-container div, .card-right h4 {
  color: var(--brand-gray)
}

.title-container {
  min-height: 134px;
}

.date-container {
  margin-bottom: 0;
  width: 100%;
  border-top: 1px solid var(--brand-navy);
  height: 50px;
  justify-content: flex-start;
}

.card-right {
  border-left: none;
  width: 292px;
  flex-shrink: 0;
}

.home-card:hover {
  background-color: var(--brand-soft);
}

.home-card:active {
  background-color: var(--brand-teal-light);
}

.card-right {
  flex-direction: column;
  justify-content: space-evenly;
} */


/* DASHBOARD */
.dashboard-header {
  width: 100%;
  justify-content: space-between;
}

.dashboard-header button {
  height: 50px;
  width: 200px;
}

.dashboard-link {
  width: 100%;
}

.dashboard-button {
  width: 80%;
  margin: 0 10% 0 10%;
}


/* BUTTONS */
button {
  background-color: var(--brand-soft);
  font-size: 20px;
  font-weight: 700;
}

.dashboard-button {
height: 60px;
width: 80%;
box-shadow: none;
}

.dashboard-button:hover {
  background-color: var(--brand-teal-light);
}

.dashboard-button:active {
  background-color: var(--brand-teal)
}

.dashboard-delete-button:hover {
  background-color: lightcoral;
}

.dashboard-delete-button:active {
  background-color: rgb(237, 92, 92);
}

.form-button {
  height: 30px;
  width: 80px;
  background-color: var(--brand-navy);
  color: var(--brand-soft);
  font-size: 16px;
  border: none;
}

.form-button:hover {
  background-color: var(--brand-teal);
}

.form-button:active {
  border: 1.5px solid var(--brand-navy)
}


/* FORMS */
form {
  margin-bottom: 20px;
}

.form-container {
  width: 100%;
  justify-content: space-between;
}

.form-wrapper {
  width: 48%;
}

.input {
  border-radius: 0;
}


/* BLOG POST PAGE */
.blog-post-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-bottom: 50px;
}

.comments-header {
  display: flex;
  width: 80%;
  gap: 30px;
  justify-content: space-between;
  align-items: center;
}

.blog-content,
.comment-div {
  width: 80%;
}

.blog-comments {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.blog-comments button {
  width: 200px;
}


/* WRITE/EDIT BLOG PAGE */
.write-blog-form {
  width: 100%;
}

#post-blog-button,
#update-blog-button,
#delete-blog-button {
  height: 50px;
  width: 300px;
}

#delete-blog-button {
  margin-top: 30px;
  background-color: lightcoral;
}

#delete-blog-button:hover {
  margin-top: 30px;
  background-color: rgb(237, 104, 104);
}


@media screen and (max-width: 900px){
  header {
    position: static;
  }

  main {
    margin-top: 20px;
  }

  .card-holder {
    flex-direction: column;
    align-items: flex-start;
  }

  .card-left {
    width: 100%;
    border-right: none;
  }

  .card-right {
    width: 100%;
    min-height: 50px;
    border-top: 1px solid var(--brand-navy);
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }

  .dashboard-link {
    width: 50%;
  }

  .dashboard-button {
    width: 90%;
    margin: 10px 5% 10px 5%;
  }

  .card-right h4 {
    font-size: 16px;
    padding-left: 20px;
  }

  .homepage-right {
    justify-content: flex-start;
    margin-top: 0;
  }

  main, .header-contents {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
  }
}

@media screen and (max-width: 700px){
  header {
    height: 180px;
  }

  .header-contents {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 160px;
  }

  main, 
  .header-contents {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }

  .blog-content,
  .blog-comments,
  .comments-header,
  .comment-div {
    width: 100%;
  }

  nav {
    margin-right: 0;
    justify-content: space-evenly;
  }

  .form-container {
    flex-direction: column;
  }

  .form-wrapper {
    width: 100%;
  }
}